* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  background-color: rgb(19, 18, 18);
  /* background-image: url('../assets/nrd-6KuY0cXHymE-unsplash.jpg'); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section {
  display: flex;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 55px;
  margin: 0;
}

h2 {
  color: white;
  font-size: 30px;
}

div.grid {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(19, 18, 18);
  box-shadow:
      0 0 40px 15px rgb(7, 124, 60),
      0 0 50px 20px rgb(38, 173, 78), 
      0 0 50px 40px rgb(67, 151, 88);
}
div.grid-item {
  width: 40px;
  height: 40px;
  border: .5px solid rgb(255, 255, 255);
}

div.grid-item.snake {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow:
      0 0 10px 5px rgb(255, 255, 255);
}

div.grid-item.apple {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url('../assets/Apple.png');
}

button {
  margin: 30px;
  font-size: 20px;
  padding: 15px, 10px;
}
